* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.menu {
    width: 100%;
    background-color: #6ba9b5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.menu a {
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#left {
    justify-content: flex-start;
}

#right {
    justify-content: flex-end;
}

.menu a:hover {
    background-color: #477078;
}

.header {
    width: 100%;
    height: 50%;
    background-image: url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px 40px;
    /* border: 3px solid #ffff00; */
}

.textbox {
    background-color: #2e3331;
    color: #ffffff;
    opacity: 90%;
    border-radius: 5px;
    /* border: 3px solid pink; */
    max-width: 650px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.textbox p {
    margin: 20px;
    text-indent: 30px;
}

.text2 {
    background-color: #6ba9b5;

    width: 100%;
    display: flex;
    height: 50%;
    /* justify-content: space-around; */
    /* align-items: flex-start; */
}

/* .text2-1,
.text2-12 {
    background-color: #6ba9b5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    height: 100%;
    border: 3px solid green;
} */

.text2-1 {
    height: auto;
    /* margin-right: 20px; */
    /* text-align: center; */
    /* border: 3px solid greenyellow; */
    width: 100%;
    flex-direction: column;
}

.text2-12 {
    height: 100%;
    /* border: 3px solid greenyellow; */
    width: 50vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.p2-1 {
    /* border: 3px solid yellow; */
    background-color: #97b9bf;
    border: 2px solid #54848d;

    border-radius: 5px;
    font-size: 20px;
    padding: 12px;
    margin: 10px 0px;
    flex-direction: column;
    text-align: center;
    color: white;
    width: 80%;
    align-items: center;
    /* border: 3px solid blue; */
}

.s1hide {
    display: none;
}

.p2-1 a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


#block1 {
    display: none;
}